.cuadro{
  width: 400px;
  height: 500px;
  border: 1px solid black;
  padding: 20px;
  position: absolute;
  margin-left: 30%;
}
#comentarios{
  width: 365px;
  height: 100px;
}
input{
  position: absolute;
  right: 50px;
}
#check{
  position: absolute;
  left: 200px;
}
#enviar{
  position: relative;
  left: 10px;
}
